.cabecalho{
    background-color: rgba(129, 60, 190, 0.872);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    
}
.cabecalho .topics{
    display: flex;

}
.cabecalho .email{
    margin: auto 0;
}
.cabecalho .facilitador:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px; 
}

.cabecalho .facilitador{
    display: flex;
    margin-left: 2em;
    padding: 0.5em;
    flex-wrap: wrap;
}
.cabecalho .facilitador img{
   max-width: 1em;
   margin-right: 0.5em;

}

.corpo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
}

.corpo .container{
    background-image: url(../images/backgorund.png);
    background-size: 100%;
    background-repeat: no-repeat;   
} 

.corpo .container #bem-vindo{
    max-width: 60%;
    text-align: justify;
    margin: 5em 7em;
}

.corpo .container #bem-vindo h1{
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-style: oblique;
    font-family: monospace;
    
}

.corpo .rede-social img{
    max-width: 3em;
    display: flex;
    margin: 1em auto ;
    flex-wrap: wrap;
    
}

.corpo .rede-social{
     position: fixed; 
    height: 100%;
    width: 5em;
    align-content: space-around;
}

.container #skills img{
    max-width: 3em;
}

.container #projetos h1{  
    border-radius: 5px;
    text-align: center;
    margin-top: 5em;
    font-size: 2.5em;
    font-style: oblique;
    font-family: monospace;
}



.container #skills{
    display: flex;
    margin-left: 5em;
    flex-wrap: wrap;
}

.container #skills img{
    margin: 1.5em;
}

.container #projetos{
    background-image: url(../images/background-2.png);
    background-repeat: no-repeat;
}
.container #projetos .projeto{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    display: flex;
    justify-content: space-around;
}
.container #projetos .cada-projeto .img {
    max-width: 30em;
    margin-top: 2em;

}
.container #projetos .cada-projeto  {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 70%;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 2em;
    
}

.container #projetos .cada-projeto .tecnologias-utilizadas img {
    max-width: 2em;
    margin-top: 7px;
}

footer{
    background-color:rgba(129, 60, 190, 0.872) ;
}